<!-- RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 2
  Author: Luong Thanh Trung, Lee Gayeong, Pham Hieu Dat, Le Dang Quang, Nguyen Huynh Trieu Thinh
  ID: Your student ids: S3679813, s3891958, s3979760, s3977794, s3977756
  Acknowledgement: Acknowledgement: the images used here were borrowed from other webpages. Their links could be found in the report  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <script src="https://kit.fontawesome.com/6f8d1d8e9d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/aboutUs.css">
</head>
<body>
    <header>
        <div id="permanent_component">
            <div id="logo_container">
                <div id="logo">
                    <img  src="/photo/random-logo-png-transparent.png" alt="">
                  </div>
              
                <div id="social_media">
                    <div class="social_media"><img class="media_icon" src="/photo/facebook.png" alt=""></div>
                    <div class="social_media"><img class="media_icon" src="/photo/instagram-symbol.png" alt=""></div>
                    <div class="social_media"><img class="media_icon" src="/photo/pinterest.png" alt=""></div>
                </div>
            </div>
            
        </div>
    </header>

    <main>
        <section>
            <div class="aboutUsHeader"><h1>About Us</h1></div>
            <div class="teamMember">
                <div class="member">
                    <div class="informationContainer">
                        <div class="imageContainer"><div class="images"><img src="images/received_256613069088741.jpeg" alt=""></div></div>
                        <div class="title">
                            <h2>Name name name</h2>
                            <h4>s3977794</h4>
                        </div>
                        <div class="description"><p>a;kldjfkajd;lfkj a;kldj ;fakj d;lkj a;lkjsd f;lkja ;sdkljf ;aklj df;ajd ;klfja; kdljsf; akljsd;lkflj a;kljdsf ;akjl sd;fklja; djf;ak jsdf;k ja;skdljf ;akljd f;kaj;d kjfa; jkd;fkj a;sdkjf ;ajksd ;fjk ads ;jkfa ;jksdf ;jkla;dsj lkfa;lkj ds;flakj ds;jkf a;lkjd f;ajklsd;jfka;j skdf;ja ksd;jf kajd; fklja;klds ;aklj df;klaj d;sfklj a;djksf a;jk df;jka d;kjfa; kjdf; ajkdfj k;adjs;k f;aj klsdfj;l kaj;fkl ajsd;klf ja;dsk jfa;dj k; ja;dkl jf;akj ;jka ds;fjkasd;jkl fa;jdsk ;jk adf;jakds;fjklad;sjklf;ajklsd f;jka d;sjklfa; sjdkf; jlakd</p></div>
                    </div>
                </div>
                <div class="member">
                    <div class="informationContainer">
                        <div class="imageContainer"><div class="images"><img src="images/received_256613069088741.jpeg" alt=""></div></div>
                        <div class="title">
                            <h2>Name name name</h2>
                            <h4>s3977794</h4>
                        </div>
                        <div class="description"><p>a;kldjfkajd;lfkj a;kldj ;fakj d;lkj a;lkjsd f;lkja ;sdkljf ;aklj df;ajd ;klfja; kdljsf; akljsd;lkflj a;kljdsf ;akjl sd;fklja; djf;ak jsdf;k ja;skdljf ;akljd f;kaj;d kjfa; jkd;fkj a;sdkjf ;ajksd ;fjk ads ;jkfa ;jksdf ;jkla;dsj lkfa;lkj ds;flakj ds;jkf a;lkjd f;ajklsd;jfka;j skdf;ja ksd;jf kajd; fklja;klds ;aklj df;klaj d;sfklj a;djksf a;jk df;jka d;kjfa; kjdf; ajkdfj k;adjs;k f;aj klsdfj;l kaj;fkl ajsd;klf ja;dsk jfa;dj k; ja;dkl jf;akj ;jka ds;fjkasd;jkl fa;jdsk ;jk adf;jakds;fjklad;sjklf;ajklsd f;jka d;sjklfa; sjdkf; jlakd</p></div>
                    </div>
                </div>
                <div class="member">
                    <div class="informationContainer">
                        <div class="imageContainer"><div class="images"><img src="images/received_256613069088741.jpeg" alt=""></div></div>
                        <div class="title">
                            <h2>Name name name</h2>
                            <h4>s3977794</h4>
                        </div>
                        <div class="description"><p>a;kldjfkajd;lfkj a;kldj ;fakj d;lkj a;lkjsd f;lkja ;sdkljf ;aklj df;ajd ;klfja; kdljsf; akljsd;lkflj a;kljdsf ;akjl sd;fklja; djf;ak jsdf;k ja;skdljf ;akljd f;kaj;d kjfa; jkd;fkj a;sdkjf ;ajksd ;fjk ads ;jkfa ;jksdf ;jkla;dsj lkfa;lkj ds;flakj ds;jkf a;lkjd f;ajklsd;jfka;j skdf;ja ksd;jf kajd; fklja;klds ;aklj df;klaj d;sfklj a;djksf a;jk df;jka d;kjfa; kjdf; ajkdfj k;adjs;k f;aj klsdfj;l kaj;fkl ajsd;klf ja;dsk jfa;dj k; ja;dkl jf;akj ;jka ds;fjkasd;jkl fa;jdsk ;jk adf;jakds;fjklad;sjklf;ajklsd f;jka d;sjklfa; sjdkf; jlakd</p></div>
                    </div>
                </div>
                <div class="member">
                    <div class="informationContainer">
                        <div class="imageContainer"><div class="images"><img src="images/received_256613069088741.jpeg" alt=""></div></div>
                        <div class="title">
                            <h2>Name name name</h2>
                            <h4>s3977794</h4>
                        </div>
                        <div class="description"><p>a;kldjfkajd;lfkj a;kldj ;fakj d;lkj a;lkjsd f;lkja ;sdkljf ;aklj df;ajd ;klfja; kdljsf; akljsd;lkflj a;kljdsf ;akjl sd;fklja; djf;ak jsdf;k ja;skdljf ;akljd f;kaj;d kjfa; jkd;fkj a;sdkjf ;ajksd ;fjk ads ;jkfa ;jksdf ;jkla;dsj lkfa;lkj ds;flakj ds;jkf a;lkjd f;ajklsd;jfka;j skdf;ja ksd;jf kajd; fklja;klds ;aklj df;klaj d;sfklj a;djksf a;jk df;jka d;kjfa; kjdf; ajkdfj k;adjs;k f;aj klsdfj;l kaj;fkl ajsd;klf ja;dsk jfa;dj k; ja;dkl jf;akj ;jka ds;fjkasd;jkl fa;jdsk ;jk adf;jakds;fjklad;sjklf;ajklsd f;jka d;sjklfa; sjdkf; jlakd</p></div>
                    </div>
                </div>
                <div class="member">
                    <div class="informationContainer">
                        <div class="imageContainer"><div class="images"><img src="images/received_256613069088741.jpeg" alt=""></div></div>
                        <div class="title">
                            <h2>Name name name</h2>
                            <h4>s3977794</h4>
                        </div>
                        <div class="description"><p>a;kldjfkajd;lfkj a;kldj ;fakj d;lkj a;lkjsd f;lkja ;sdkljf ;aklj df;ajd ;klfja; kdljsf; akljsd;lkflj a;kljdsf ;akjl sd;fklja; djf;ak jsdf;k ja;skdljf ;akljd f;kaj;d kjfa; jkd;fkj a;sdkjf ;ajksd ;fjk ads ;jkfa ;jksdf ;jkla;dsj lkfa;lkj ds;flakj ds;jkf a;lkjd f;ajklsd;jfka;j skdf;ja ksd;jf kajd; fklja;klds ;aklj df;klaj d;sfklj a;djksf a;jk df;jka d;kjfa; kjdf; ajkdfj k;adjs;k f;aj klsdfj;l kaj;fkl ajsd;klf ja;dsk jfa;dj k; ja;dkl jf;akj ;jka ds;fjkasd;jkl fa;jdsk ;jk adf;jakds;fjklad;sjklf;ajklsd f;jka d;sjklfa; sjdkf; jlakd</p></div>
                    </div>
                </div>
                
            </div>
        </section>
    </main>

    <footer>
        <div class="subscriptionDiv">
            <h4>Sign up for more information?</h4>
            <form action="">
                <div class="subscriptionDivInput">
                    <input type="email" placeholder="Enter your email address here...">
                    <button type="submit"><i class="fa-solid fa-envelope"></i></button>
                </div>
            </form>
        </div>
        <div class="basicInformation">
            <div class="detail">
                <br>
                Information gonna display here
            </div>
            <div class="detail">

                <h3>About Us</h3>
                <a href="">About Us</a>
                <a href="">Privacy Policy</a>
                <a href="">Payment Methods</a>

            </div>
            <div class="detail">
                <h3>Contact Us</h3>
                <ul>
                    <li>Email: trungluong0806@gmail.com</li>
                    <li>Phone: 0909173660</li>
                    <li>Address: <address>819 488 Swanston 3053 Carlton</address> </li>
                </ul>
                
                
            </div>
        </div>
        <div class="copyRight">
            <p>Page by Copyright@ by GroupName?</p>
        </div>
    </footer>

    <div id="controller">
        <div class="controller_icon" id="cart">
            <a href='http://localhost:3500/main_page'>
                
                <img class="icon"  src="/photo/home.png" alt="">
            </a>
        </div>
        <div class="controller_icon">
            <a href="http://localhost:3500">
                <img class="icon" src="/photo/user.png" alt="">
            </a>
            
        </div>
        <div class="controller_icon">
            <img class="icon" src="/photo/settings.png" alt="">
        </div>
    </div>
    
</body>
</html>